h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', Georgia, Times, serif;
    margin-top: 10px    ;
    text-align: center;
}

.btn-group {
    padding-bottom: 10px;
}

p, div {
    font-family: 'Advent+Pro', Helvetica, Arial, sans-serif;
}

p {
    margin: 0px;
}

header, p, div {
  text-align: center;
}
